{% extends "template_visu.html" %}

{% block texto %}
<div class="row justify-content-center informacoes-produto">
    <div class="col-12 col-md-10 fundo-amarelo tipos-de-assinatura">
        <p>Você já se perguntou qual é o nosso produto mais vendido?</p>
        <br>
        <p>Nessa página mostramos as estatísticas de vendas dos nossos produtos. Em ordem decrescente são
            exibidos quais alimentos foram mais vendidos ao decorrer do mês de novembro de 2021 </p>
    </div>
</div>
{% endblock %}

{% block graficoo %}
<div class="container conteiner-assinatura" >
    <div class="row  ">
        <div class="col-12 graficos">
            <!-- Imagem do produto -->
            {{grafico|safe}}
        </div>
    </div>
</div>
{% endblock %}

{% block links %}
<div class="row justify-content-around">
    <div class="col-md-3">
        <div class="row justify-content-center ">
            <button onclick="window.location.href='{% url 'assinatura' %}'"
                class="btn-outline-success btn-lg"><i class="bi bi-bar-chart-line"></i>
                estatísticas?</button>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row justify-content-center ">
            <button onclick="window.location.href='{% url 'assinatura' %}'"
                class="btn-outline-success btn-lg"><i class="bi bi-bar-chart-line"></i>
                estatísticas?</button>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row justify-content-center ">
            <button onclick="window.location.href='{% url 'assinatura' %}'"
                class="btn-outline-success btn-lg"><i class="bi bi-bar-chart-line"></i>
                estatísticas?</button>
        </div>
    </div>
</div>
{% endblock %}