<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    {% include "head.html"%}
</head>

<body>
    <!-- CABEÇALHO -->
    <!-- Cria um container -->
    <header class="container-fluid">
        {% include "header.html"%}
    </header>

    <!-- INFO -->
    <!-- EXPLICAÇÕES DAS ASSINATURAS -->
    <div class="conteiner primeira-cor conteiner-assinatura">
        <!-- Cria linha, para ser dividida em colunas, centralizada -->
        <!--Título-->
        <div class="row justify-content-center  ">
            <div class="col 12 col-md-10 fundo-amarelo ">
                <h2 class="titulo">Entenda melhor nossa proposta de assinatura!</h2>
            </div>
        </div>

        <!--Descrição da assinatura-->
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 fundo-amarelo tipos-de-assinatura">
                <p>Todos nós, em algum momento da vida, já passamos por aquela situação que precisamos fazer uma compra
                    rápida, mas até conseguirmos ir ao mercado, procurar os produtos, esperar a fila do caixa para
                    pagar... uma eternidade já passou, certo?</p>
                <p> Isso pode ser ainda pior quando nem se quer encontramos o produto que estavamos desejamos. Um tempo
                    gasto que não volta, viagem perdida...</p>
                <p>Nós acreditamos ter uma solução simples para aliviar esses seus problemas!*</p>
                <p>A proposta do nosso site é oferecer lista de todos os produtos do nosso mercado, além de outras
                    informações relevantes que você pode querer saber para fazer suas compras com mais comodidade.
                    Dentre essas informações, vamos ter:</p>
                <ul>
                    <li>
                        <p>Nossos produtos, organizados por categoria</p>
                    </li>
                    <li>
                        <p>O estoque atual dos produtos**</p>
                    </li>
                    <li>
                        <p>Previsão de reposição de estoque, caso o produto tenha acabado</p>
                    </li>
                    <li>
                        <p>Preço do produto</p>
                    </li>
                    <li>
                        <p>Produtos em promoção, destacados para você</p>
                    </li>
                </ul>
                <p>Além disso, também vamos oferecer um serviço de assinatura, onde você pode selecionar os produtos que
                    você deseja, pagar pelo próprio site e apenas ir buscar no mercado que sua cesta de produtos estará
                    prontinhas esperando por você!***</p>
            </div>
        </div>
        <!--Observações-->
        <div class="row justify-content-center explicacoes">
            <div class="col-12 col-md-10 fundo-amarelo">
                <p>*Nem todas as funcionalidades estão disponíveis ainda, aguarde por próximas atualizações</p>
                <p>**Devido a questões operacionais, podem haver alguns atrasos no valor apresentado</p>
                <p>***O usuário será avisado quando a cesta de compras estiver disponível para a retirada</p>
            </div>
        </div>
    </div>

    <!-- TIPOS DE ASSINATURAS -->
    <div class="conteiner " id="conteiner-tipos-de-assinatura">
        <div class="row justify-content-center">
            <div class="col-12 col-md-4 imagem-assinatura">
                <!-- Imagem do produto -->
                <img src="{% static 'img/folder_assinatura.jpg' %}" alt="Informações da empresa">
            </div>

            <!-- Informações sobre a assinatura -->
            <div class="col-12 col-md-6">
                <div class="row row-tipos-assinatura">
                    <div class="col-12 fundo-amarelo">
                        <h2 class="titulo primeira-cor">Nossos planos de assinatura*:</h2>
                        <ul>
                            <li class="tipos-de-assinatura">
                                <div class="row justify-content-between">
                                    <div class="col-12">
                                        <h3 class="primeira-cor">Bronze</h3>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <p>Quantidade de pedidos: 1</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p>Preço: R$ 10,00</p>
                                    </div>
                                </div>
                            </li>
                            <li class="tipos-de-assinatura">
                                <div class="row justify-content-between">
                                    <div class="col-12">
                                        <h3 class="primeira-cor">Silver</h3>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <p>Quantidade de pedidos: 2</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p>Preço: R$ 18,00</p>
                                    </div>
                                </div>
                            </li>
                            <li class="tipos-de-assinatura">
                                <div class="row justify-content-between">
                                    <div class="col-12">
                                        <h3 class="primeira-cor">Gold</h3>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <p>Quantidade de pedidos: 4</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p>Preço: R$ 30,00</p>
                                    </div>
                                </div>
                            </li>
                            <li class="tipos-de-assinatura">
                                <div class="row justify-content-between">
                                    <div class="col-12">
                                        <h3 class="primeira-cor">Platinum</h3>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <p>Quantidade de pedidos: 10</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p>Preço: R$ 60,00</p>
                                    </div>
                                </div>
                            </li>
                            <li class="tipos-de-assinatura">
                                <div class="row justify-content-between">
                                    <div class="col-12">
                                        <h3 class="primeira-cor">Diamond</h3>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <p>Quantidade de pedidos: 20</p>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <p>Preço: R$ 100,00</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                        <!--Botão para criar conta-->
                        <div class="col-12 centralizar">
                            <button onclick="window.location.href='{% url 'cadastro' %}'"
                                class="btn-outline-success btn-lg">Crie uma conta</button>
                        </div>

                        <!--Observações-->
                        <div class="row justify-content-center explicacoes">
                            <div class="col-12 col-md-10 fundo-amarelo">
                                <p>*Nem todas as funcionalidades estão disponíveis ainda, aguarde por próximas
                                    atualizações</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Banner promoção -->
    <div class="container" id="featured-container">
        <div id="featured-images">
            {% include "banner_promocoes.html"%}
        </div>
    </div>

    <!-- RODAPÉ -->
    <footer class="container-fluid segundo-fundo" id="rodape">
        {% include "footer.html"%}
    </footer>
</body>