<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "head.html"%}
</head>

<body>
    <!-- CABEÇALHO -->
    <!-- Cria um container -->
    <header class="container-fluid">
        {% include "header.html"%}
    </header>

    <!--CADASTRO-->
    <!-- Cria um container -->
    <div class="container">
        <!-- Cria uma linha -->
        <div class="row">
            <!-- Cria um formulário-->
            <form>
                <!-- Divide a linha em 12 colunas -->
                <div class="col-12 centralizar mt-5 mb-2">
                    <!-- Imagem -->
                    <img src="img/mercado_fornaro_carrinho-transp.png" alt="" class="imagem-login">
                </div>
                <div class="col-12 centralizar">
                    <h4 class="primeira-cor">Criar uma conta</h4>
                </div>
                <div class="col-12 centralizar">
                    <div class="form-row">
                        <div class="col-12">
                            <!-- Locais para os clientes escreverem as informações -->
                            <input type="text" placeholder="Escreva seu nome" class="form-control my-3 p-2">
                            <input type="text" placeholder="Escreva seu CPF" class="form-control my-3 p-2">
                            <input type="email" placeholder="Escreva seu e-mail" class="form-control my-3 p-2">
                            <input type="password" placeholder="*******" class="form-control my-3 p-2">
                            <button class="botao-laranja mt-3 mb-3">Criar conta</button>

                        </div>
                    </div>
                </div>

                <div class="col-12 centralizar mb-5">
                    <p id="termos">Ao criar a conta você está concordando com os nossos
                        <!-- Link que direciona para aos termos de uso do site (não ativo) -->
                        <a href="#">termos.</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <!-- RODAPÉ -->
    <footer class="container-fluid segundo-fundo" id="rodape">
        {% include "footer.html"%}
    </footer>
</body>