<div class="row">
    <div class="col-12">
        <div class="row">
            <div class="col-12" id="rodape-cima">
                <div class="row">
                    <!--Coluna com formulário para ficar por dentro das novidades-->
                    <div class="col-12 col-md-4 coluna-rodape-cima">
                        <h4>Fique por dentro das novidades</h4>
                        <p>Inscreva-se para saber em primeira mão</p>
                        <!--Cria um formulário-->
                        <form>
                            <div class="mb-3">
                                <input type="email" class="form-control" placeholder="Digite o seu e-mail">
                            </div>
                            <button class="btn btn-dark" type="submit">Inscrever-se</button>
                        </form>
                    </div>
            
                    <!--Coluna das formas de contato-->
                    <div class="col-12 col-md-4 coluna-rodape-cima" id="rodape-cima-centro">
                        <h4>Formas de contato</h4>
                        <p> (xx)xxxx-xxxx</p>
                        <p> contato@mercadinhx.com</p>
                        <a href="fale_conosco.html">Fale conosco</a>
                    </div>

                    <!--Coluna de colaboradores-->
                    <div class="col-12 col-md-4 coluna-rodape-cima">
                        <div class="row">
                            <h4>Colaboradores <i class="bi bi-heart"></i> :</h4>
                            <div class="col-12">
                                <!--Cria uma lista-->
                                <ul class="list-unstyled">
                                    <li>
                                        <p>Bruno Pereira Fornaro</p>
                                    </li>
                                    <li>
                                        <p>Daniel Ambrosim Falqueto</p>
                                    </li>
                                    <li>
                                        <p>Lorenzo Aguiar de Alencastro Guimarães</p>
                                    </li>
                                    <li>
                                        <p>Vanessa Berwanger Wille</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- PARTE DE BAIXO DO RODAPÉ -->
        <div class="row justify-content-around" id="rodape-baixo">
            <div class="col-12 col-md-3">
                <!--Logos de redes sociais (não são ativos)-->
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-youtube"></i>
            </div>
            <div class="col-12 col-md-3">
                <p>Mercadinhx &copy; 2021</p>
            </div>
            <div class="col-12 col-md-3">
                <p>
                    <!-- Link que direciona para a página "Quem somos" -->
                    <a href="Quem_somos.html">Quem somos</a>
                </p>
            </div>
        </div>
    </div>
</div>