<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "head.html"%}
</head>

<body>
    <!-- CABEÇALHO -->
    <!-- Cria um container -->
    <header class="container-fluid">
        {% include "header.html"%}
    </header>

    <!-- SLIDER -->
    <div class="conteiner slider-container">


        <!-- Coloca o card  -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'img/alimentos_geral.png' %}" alt="Mercadinhx" class="d-block">
            </div>
        </div>


        <!-- Cria um container -->
        <div class="container">
            <!-- Cria uma linha para que possa ser dividida em até 12 colunas -->
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-filtro">
                    <!-- Limita o codigo em 3/12 da linha -->
                    <div class="col-12 col-md-3 centralizar" id="classificar-filtro">
                        <h4>Classificar por:</h4>
                        <!-- Cria um botão de menu que só é visto no mobile-->

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <i class="bi bi-list"></i>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <!-- Ocupa 10/12 da área restante da linha  -->
                        <div class="col-12 col-md-10">
                            <!-- Cria uma classe de navegação para os itens -->
                            <ul class="navbar-nav navbar-produtos">
                                <!--<div class="col-2 centralizar">-->
                                <li class="nav-item col-12 col-md-2 centralizar">
                                    <!-- Cria um botão para que o cliente decida em que ordem quer ver os produtos, (botão não ativo) -->
                                    <a class="nav-link active" aria-current="page" href="#">Prateleiras</a>
                                </li>
                                <!--</div>-->
                                <!--<div class="col-2 centralizar">-->
                                <!-- Cria um botão que pode ser expandido para outros botões-->
                                <li class="nav-item dropdown col-12 col-md-2 centralizar">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                        role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Preço:
                                    </a>
                                    <!-- Cria dois botões para que o cliente decida em que ordem quer ver os produtos, (botão não ativo)-->
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Crescente</a></li>
                                        <li><a class="dropdown-item" href="#">Descrescente</a></li>
                                    </ul>
                                </li>
                                <!--</div>-->
                            </ul>

                        </div>


                        <div class="col-12 col-md-2 centralizar">
                            <!-- Cria dois botões que trocam as páginas dos produtos, quando temos muitos produtos que não cabem na pag, (botão não ativo) -->
                            <button class="control-prev" type="button" data-bs-slide="prev">
                                <!-- Botão de anterior -->
                                <i class="bi bi-chevron-left">
                                    <span class="visually-hidden">Anterior</span>
                                </i>
                            </button>
                            <button class="control-next" type="button" data-bs-slide="next">
                                <!-- Botão de próximor -->
                                <i class="bi bi-chevron-right">
                                    <span class="visually-hidden">Próximo</span>
                                </i>
                            </button>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        <!-- CATEGORIAS DE PRODUTO -->
        <div class="container" id="featured-container">
            <div class="col-12 lista-de-produtos" id="featured-images">
                <!-- Cria uma linha -->
                <div class="row g-4">
                    <!-- Classe que não limita a tela no mobile mas limita a área da imagem em telas maiores à 3/12 da linha -->
                    <div class="col-12 col-md-3">
                        <!-- Imagem go produto -->
                        <img src="{% static 'img/morango-alt.png' %}" alt="Morango">
                        <div class="banner-content">
                            <!-- Imformações do produto -->
                            <button onclick="window.location.href='produtos.html'"
                                class="btn-outline-success btn-lg">Morango</button>
                            <h4>R$7,99 p/ bandeja (250g)</h4>
                            <br>
                            <h4>Estoque: 50 bandejas</h4>
                            <h4>Prateleira 1A</h4>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <img src="{% static 'img/melancia.jpg' %}" alt="Melancia">
                        <div class="banner-content">
                            <button onclick="window.location.href='produtos.html'"
                                class="btn-outline-success btn-lg">Melancia</button>
                            <h4>R$1,49 p/ Kg </h4>
                            <br>
                            <h4>Estoque: 20 unidades</h4>
                            <h4>Prateleira 1C</h4>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <img src="{% static 'img/banana.png' %}" alt="Banana">
                        <div class="banner-content">
                            <button onclick="window.location.href='produtos.html'"
                                class="btn-outline-success btn-lg">Banana</button>
                            <h4>R$5,99 p/ Kg</h4>
                            <br>
                            <h4>Estoque: 40 Kg</h4>
                            <h4>Prateleira 1B</h4>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <img src="{% static 'img/uva-alt.png' %}" alt="Uva">
                        <div class="banner-content">
                            <button onclick="window.location.href='produtos.html'"
                                class="btn-outline-success btn-lg">Uva</button>
                            <h4>R$7,47 p/ bandeja (500g)</h4>
                            <br>
                            <h4>Estoque: 36 bandejas</h4>
                            <h4>Prateleira 1D</h4>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <img src="{% static 'img/batata.JPEG' %}" alt="Batata">
                        <div class="banner-content">
                            <button onclick="window.location.href='produtos.html'"
                                class="btn-outline-success btn-lg">Batata</button>

                            <h4>R$3,99 p/ Kg</h4>
                            <br>
                            <h4>Estoque: 47 Kg</h4>
                            <h4>Prateleira 2B</h4>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <img src="{% static 'img/beringela.jpg' %}" alt="Berinjela">
                        <div class="banner-content">
                            <button onclick="window.location.href='produtos.html'"
                                class="btn-outline-success btn-lg">Berinjela</button>
                            <h4>R$11,99 p/ Kg</h4>
                            <br>
                            <h4>Estoque: 12 Kg</h4>
                            <h4>Prateleira 2D</h4>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <img src="{% static 'img/abobrinha.JPEG' %}" alt="Abobrinha">
                        <div class="banner-content">
                            <button onclick="window.location.href='produtos.html'"
                                class="btn-outline-success btn-lg">Abobrinha</button>
                            <h4>R$3,50 p/ Kg</h4>
                            <br>
                            <h4>Estoque: 19 Kg</h4>
                            <h4>Prateleira 2A</h4>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <img src="{% static 'img/alface.png' %}" alt="Alface">
                        <div class="banner-content">
                            <button onclick="window.location.href='produtos.html'"
                                class="btn-outline-success btn-lg">Alface</button>

                            <h4>R$0,98 p/ pé</h4>
                            <br>
                            <h4>Estoque: 25 pés</h4>
                            <h4>Prateleira 2C</h4>
                        </div>
                    </div>

                    <div class="col-12 col-md-3">
                        <img src="{% static 'img/couve-flor.png' %}" alt="Couve-flor">
                        <div class="banner-content">
                            <button onclick="window.location.href='produtos.html'"
                                class="btn-outline-success btn-lg">Couve-flor</button>

                            <h4>R$5,48 p/ pé</h4>
                            <br>
                            <h4>Estoque: 20 pés</h4>
                            <h4>Prateleira 2E</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <img src="{% static 'img/feijao.png' %}" alt="Feijão">
                        <div class="banner-content">
                            <button onclick="window.location.href='produtos.html'"
                                class="btn-outline-success btn-lg">Feijão</button>

                            <h4>R$7,45 p/ pacote (1Kg)</h4>
                            <br>
                            <h4>Estoque: 43 Kg</h4>
                            <h4>Prateleira 3B</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <img src="{% static 'img/arroz.png' %}" alt="Arroz">
                        <div class="banner-content">
                            <button onclick="window.location.href='produtos.html'"
                                class="btn-outline-success btn-lg">Arroz</button>

                            <h4>R$20,31 p/ pacote (5Kg)</h4>
                            <br>
                            <h4>Estoque: 80 Kg</h4>
                            <h4>Prateleira 3A</h4>
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <img src="{% static 'img/macarrao.jpg' %}" alt="Macarrão">
                        <div class="banner-content">
                            <button onclick="window.location.href='produtos.html'"
                                class="btn-outline-success btn-lg">Macarrão</button>

                            <h4>R$2,48 p/ pacote (500g)</h4>
                            <br>
                            <h4>Estoque: 38 pacotes</h4>
                            <h4>Prateleira 3C</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- RODAPÉ -->
        <footer class="container-fluid segundo-fundo" id="rodape">
            {% include "footer.html"%}
        </footer>
    </div>
</body>