<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    {% include "head.html"%}
</head>

<body>
    <!-- CABEÇALHO -->
    <!-- Cria um container -->
    <header class="container-fluid">
        {% include "header.html"%}
    </header>

    <!-- LOGIN -->
    <!-- Cria um container -->
    <div class="container">
        <!-- Cria uma linha -->
        <div class="row">
            <!-- Cria um formulário -->
            <form>
                <!-- Divide a linha em 12 colunas -->
                <div class="col-12 centralizar mt-5 mb-2">
                    <!-- Coloca a imagem -->
                    <img src="{% static 'img/mercado_fornaro_carrinho-transp.png' %}" alt="" class="imagem-login">
                </div>
                <div class="col-12 centralizar">
                    <h4 class="primeira-cor">Entre na sua conta</h4>
                </div>
                <div class="col-12 centralizar">
                    <!--form-row é uma variação de row que substitui as divisões de coluna padrão por layouts mais estreitos e compactos-->
                    <div class="form-row">
                        <div class="col-12">
                            <!-- Locais para os clientes escreverem as informações -->
                            <input type="email" placeholder="Escreva seu e-mail" class="form-control my-3 p-2">
                            <input type="password" placeholder="*******" class="form-control my-3 p-2">
                            <button class="botao-laranja mt-3 mb-3">Entrar</button>
                        </div>
                    </div>
                </div>
                <div class="col-12 centralizar">
                    <!-- Link para opções caso tenham esquecido a senha (link não ativo) -->
                    <a href="{% url 'recuperar_senha' %}">Esqueceu sua senha?</a>
                </div>
                <div class="col-12 centralizar mb-5">
                    <!-- Link que direciona para a criação de uma conta -->
                    <p>Não possui uma conta? <a href="{% url 'cadastro' %}">Crie uma aqui.</a> </p>
                </div>
            </form>
        </div>
    </div>


    <!-- RODAPÉ -->
    <footer class="container-fluid segundo-fundo" id="rodape">
        {% include "footer.html"%}
    </footer>
</body>