<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% include "head.html"%}
</head>

<body>
    <!-- CABEÇALHO -->
    <!-- Cria um container -->
    <header class="container-fluid">
        {% include "header.html"%}
    </header>


    <!-- QUEM SOMOS -->
    <!--Cria uma row e centraliza o texto-->
    <div class="row justify-content-center align-items-center ">
        <!-- Em tela médias ou maiores texto ocupa 5/12 da página-->
        <div class="col-md-5 primeira-cor" id="quem-somos">
            <h2>Quem somos</h2>
            <p>
                O Mercadinhx é uma empresa inovadora que visa a conexão entre o consumidor e o mercado. Nós sabemos
                que as compras além de custosas para o cliente, são muitas vezes longas e demoradas. A ida mensal ao
                supermercado acaba se tornando uma lamentável e indesejada
                ocasião para todo mundo em algum momento da vida.
            </p>
            <p>
                Levando em consideração as dores ressentidas pelo consumidor, decidimos criar um projeto para amenizar o
                problema. O mercadinhx implementa um sistema sólido que permite a visualização da disponibilidade,
                localização na prateleira e preço das mercadorias.
                Nosso site além de vantajoso na hora de organizar as compras do mês, permite ao cliente calcular melhor
                os custos e evitar gastos, comparando preços de diferentes marcas ou sabendo dos produtos em promoção.
            </p>
            <p>
                Esperamos que o planejamento prévio das compras, possibilitado por nosso serviço, proporcione uma ida
                mais fácil, rápida e econômica ao supermercado.
            </p>
        </div>
        <!-- Classe define que se a tela for inferior ao tamanho médio a imagem ocupa um row inteiro  -->
        <div class="col-12 col-md-4" id="bio-images">
            <img src="{% static img/imagem_quem_somos.png' %}" alt="">
        </div>
    </div>



    <!--CONTRIBUIDORES-->
    <!-- Cria um container -->
    <div class="container">
        <div class="col-12" id="featured-images">

            <!-- Classe distribui as cards ao longo da row -->
            <div class="row justify-content-around escrita_centro">
                <!-- Cada card ocupa 2/12 da tela-->
                <div class="card col-md-2">
                    <!-- Imagem do card  -->
                    <img src="{% static img/foto_bruno.png' %}" class="card-img-top" alt="">
                    <!-- Classe que centraliza o conteúdo dos cards  -->
                    <div class="card-body justify-content-center">
                        <h5 class="card-title">Bruno Fornaro</h5>
                        <!-- Link para o github de cada integrante  -->
                        <p class="card-text"> <a href="https://github.com/BrunoFornaro" target="_blank"><i
                                    class="bi bi-github"></i>GitHub</a></p>
                    </div>
                </div>
                <div class="card col-md-2">
                    <img src="{% static img/foto_daniel.png' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Daniel Falqueto</h5>
                        <p class="card-text"> <a href="https://github.com/Daniel-Falqueto" target="_blank"><i
                                    class="bi bi-github"></i>GitHub</a></p>
                    </div>
                </div>

                <div class="card col-md-2">
                    <img src="{% static img/foto_lorenzo.png' %}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Lorenzo Alencastro</h5>
                        <p class="card-text"> <a href="https://github.com/Bebebobol" target="_blank"><i
                                    class="bi bi-github"></i>GitHub</a></p>
                    </div>
                </div>

                <div class="card col-md-2">
                    <img src="{% static img/foto_vanessa.png' %}" class="card-img-top" alt="">
                    <div class="card-body ">
                        <h5 class="card-title">Vanessa Wille</h5>
                        <p class="card-text"> <a href="https://github.com/VanessaWille" target="_blank"><i
                                    class="bi bi-github"></i>GitHub</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- RODAPÉ -->
    <footer class="container-fluid segundo-fundo" id="rodape">
        {% include "footer.html"%}
    </footer>
</body>
