{% extends "teste_template.html" %}

{% block cabecalho %}
    {% for produto in nome_dos_produtos %}
        <div class="col-12 col-md-3">
            <img src="{#% static 'img/melancia.jpg' %#}" alt="Melancia">
            <div class="banner-content">
                <button onclick="window.location.href='{% url 'produtos' id=1 %}'"
                    class="btn-outline-success btn-lg">{{produto}}</button>
                <h4>R$13,99 p/ unidade </h4>
                <br>
                <h4>Estoque: 20 unidades</h4>
                <h4>Prateleira 1C</h4>
            </div>
        </div>
    {% endfor %}
{% endblock %}