<!DOCTYPE html>
<html lang="pt-br">
<!-- Para possibilitar uso de imagens e CSS -->
{% load static %}

<head>
<!-- Inclui o head -->
    {% include "head.html"%}
</head>

<body>
    <!-- CABEÇALHO -->
    <!-- Cria um container -->
    <header class="container-fluid">
        <!-- Inclui o header -->
        {% include "header.html"%}
    </header>


    <!-- INFO -->
    <!-- iNFORMAÇÕES ADICIONAIS DOS PRODUTOS -->
    <div class="conteiner primeira-cor conteiner-assinatura">

        
        <!-- Texto de informações complementares -->
        <!-- Bloco para ser colocado título, pergunta e explicações -->
        {% block texto %}
        <!-- Mensagem para o caso de não renderização do bloco -->
        <p>Nenhum texto encontrado</p>
        {% endblock %}

    </div>

    <!-- Gráfico (visualização) -->
    {% block graficoo %}
    <p>Nenhum gráfico encontrado</p>
    {% endblock %}


    <div class="conteiner primeira-cor conteiner-assinatura">
        <!-- Texto indicando novas visualizações -->
        <div class="row justify-content-center  ">
            <div class="col 12 col-md-10 fundo-amarelo ">
                <h2 class="titulo">Temos mais visualizações! Veja outras:</h2>
            </div>
        </div>

        <div class="row justify-content-center  ">
            <div class="col 12 col-md-10 fundo-amarelo ">
                <!-- Botão de adicionar ao carrinho que leva para a página de seja assinante -->
                <!-- Bloco para a utilização de links que levam a outras visualizações -->
                {% block links %}
                <p>se ta aparecendo isso deu ruim</p>
                        
                {% endblock %}

            </div>
        </div>
    </div>


    <!-- CATEGORIAS DE PRODUTO -->
    <div class="container" id="featured-container">
        <div id="featured-images">
            <!-- Inclui o banner de promoções -->
            {% include "banner_promocoes.html"%}
        </div>
    </div>

    <!-- RODAPÉ -->
    <footer class="container-fluid segundo-fundo" id="rodape">
        <!-- Inclui o footer -->
        {% include "footer.html"%}
    </footer>
</body>