{% extends "template_visu.html" %}

{% block texto %}
<div class="row justify-content-center informacoes-produto">
    <div class="col-12 col-md-10 fundo-amarelo tipos-de-assinatura">
        <p>{{legenda_pergunta}}</p>
        <br>
        <p>{{legenda}} </p>
    </div>
</div>
{% endblock %}

{% block graficoo %}
<div class="container conteiner-assinatura" >
    <div class="row  ">
        <div class="col-12 graficos">
            <!-- Imagem do produto -->
            {{grafico|safe}}
        </div>
    </div>
</div>
{% endblock %}

{% block links %}
<div class="row justify-content-around">
    <div class="col-md-3">
        <div class="row justify-content-center ">
            <button onclick="window.location.href='{% url 'visualizacao2' %}'"
                class="btn-outline-success btn-lg"><i class="bi bi-bar-chart-line"></i>
                {{botao1}}</button>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row justify-content-center ">
            <button onclick="window.location.href='{% url 'visualizacao3' %}'"
                class="btn-outline-success btn-lg"><i class="bi bi-bar-chart-line"></i>
                {{botao2}}</button>
        </div>
    </div>
    <div class="col-md-3">
        <div class="row justify-content-center ">
            <button onclick="window.location.href='{% url 'visualizacao2' %}'"
                class="btn-outline-success btn-lg"><i class="bi bi-bar-chart-line"></i>
                {{botao3}}</button>
        </div>
    </div>
</div>
{% endblock %}