<!DOCTYPE html>
<html lang="pt-br">
{% load static %}

<head>
    {% include "head.html"%}
</head>

<body>
    <!-- CABEÇALHO -->
    <!-- Cria um container -->
    <header class="container-fluid">
        {% include "header.html"%}
    </header>


    <!-- INFO -->
    <!-- iNFORMAÇÕES ADICIONAIS DOS PRODUTOS -->
    <div class="conteiner primeira-cor conteiner-assinatura">

        <div class="row justify-content-center  ">
            <div class="col 12 col-md-10 fundo-amarelo ">
                <h2 class="titulo">Informações adicionais sobre o produto</h2>
            </div>
        </div>
        <!-- Texto de informações complementares -->
        <div class="row justify-content-center informacoes-produto">
            <div class="col-12 col-md-10 fundo-amarelo tipos-de-assinatura">
                <p>Nosso produto {{nome}} é comprado diretamente do podutor. A produção é feita no município
                    de Venda Nova do Imgrante, sem a utilização de agrotóxicos visando o bem estar dos clientes e bons
                    cuidados com a natureza. </p>
            </div>
        </div>

    </div>

    <!-- PRODUTO -->
    <div class="conteiner " id="conteiner-tipos-de-assinatura">
        <!-- Cria linha, para ser dividida em colunas, centralizada -->
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 imagem-produtos">
                <!-- Imagem do produto -->
                {{visualizacao1|safe}}
            </div> 
            <!-- Informações sobre o produto img/morango-alt.png -->
            <div class="col-12 col-md-4">
                <div class="row row-tipos-assinatura">
                    <div class="col-12 col-md-4 fundo-amarelo">
                        <h1 class="titulo primeira-cor">{{nome|upper}}</h1>
                        <ul>
                            <li>
                                <h4>R${{preco}} p/ {{unidade_de_medida_de_estoque}} </h4>
                            </li>
                            <li>
                                <h4>Estoque: {{estoque|floatformat:"0"}} {{unidade_de_medida_de_estoque}}s</h4>
                            </li>
                            <li>
                                <h4>Prateleira {{prateleira}}</h4>
                            </li>
                        </ul>

                        <!-- Botão de adicionar ao carrinho que leva para a página de seja assinante -->
                        <div class="col-8">
                            <button onclick="window.location.href='{% url 'assinatura' %}'"
                                class="btn-outline-success btn-lg"><i class="bi bi-cart"></i> Adicionar ao
                                carrinho*</button>
                        </div>

                        <!-- Linha para texto complementar -->
                        <div class="row justify-content-center explicacoes">
                            <div class="col-12 col-md-10 fundo-amarelo">
                                <p>*Nem todas as funcionalidades estão disponíveis ainda, aguarde por próximas
                                    atualizações
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- CATEGORIAS DE PRODUTO -->
    <div class="container" id="featured-container">
        <div id="featured-images">
            {% include "banner_promocoes.html"%}
        </div>
    </div>

    <!-- RODAPÉ -->
    <footer class="container-fluid segundo-fundo" id="rodape">
        {% include "footer.html"%}
    </footer>
</body>